body{
 margin: 0;
 text-align: center;
 font-family: 'Open Sans', sans-serif;
}
h1{
  margin: 40px auto  0 auto;

  font-family: 'Rock Salt', cursive;
  font-size: 4rem;
}
h2{
  color: #213e3b;
font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}
h3{
  font-family: 'Open Sans', sans-serif;
}
hr{
  border: dotted;
  border-bottom: none;
  width: 5%;
  margin: 70px auto;
}
.top-container{
  background-color: #b7efcd;
  position: relative;
  padding-top: 100px;
}
.girl{
  padding-right: 15px;
}
.middle-container{

background-color: #e8ffff;
padding-top: 70px;
padding-bottom: 70px;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.bottom-container{
  background-color: #a6f6f1;
  padding: 50px 0 20px;

}
p{
  line-height: 2;
}
.skill-row{
  width: 50%;
  margin: 80px auto 110px auto;
  text-align: left;

}
.skill-img{
     width: 30%;
     float: left;
     margin-right: 30px;

}
.music-img{
  width: 25%;
  float: right;
  margin-left: 30px;
  padding-right: 10%;

}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
a{
  color: black;
  font-family: 'Raleway', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: white;
}
.copyright{
  color: #99d8d0;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
  background: #41aea9;
  background-image: -webkit-linear-gradient(top, #41aea9, #41aea9);
  background-image: -moz-linear-gradient(top, #41aea9, #41aea9);
  background-image: -ms-linear-gradient(top, #41aea9, #41aea9);
  background-image: -o-linear-gradient(top, #41aea9, #41aea9);
  background-image: linear-gradient(to bottom, #41aea9, #41aea9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


.btn:hover {
  background: #2ec1ac;
  background-image: -webkit-linear-gradient(top, #2ec1ac, #2ec1ac);
  background-image: -moz-linear-gradient(top, #2ec1ac, #2ec1ac);
  background-image: -ms-linear-gradient(top, #2ec1ac, #2ec1ac);
  background-image: -o-linear-gradient(top, #2ec1ac, #2ec1ac);
  background-image: linear-gradient(to bottom, #2ec1ac, #2ec1ac);
  text-decoration: none;
}
